<div class="jumbotron text-center">
  <p>
    Login
  </p>

  <a class="btn btn-primary change_view" onclick="loginMobileNumberUser ();" id="login-mobile-number"><span> AT&amp;T Mobile Number User </span></a>
  <a class="btn btn-default change_view" onclick="switchView('login')" id="login"><span> Login (Virtual Number / Account ID User) </span></a>
  <br/>&nbsp;&nbsp;
  <p>
    or
  </p>
  <a  onclick="switchView('register')" class="btn btn-default change_view"><span id="register"> Register (Virtual Number / Account ID User) </span></a>
</div>
