<div class="jumbotron text-center">
  <p style="text-align: left">
    Welcome to your profile page!!
  </p>

  <p style="text-align: left">
    Name : <span id="user_name"></span>
  </p>
  <p style="text-align: left">
    Login Id : <span id="user_id"></span>
  </p>
  <p style="text-align: left">
    User Type : <span id="user_type"></span>
  </p>
  <p style="text-align: left; display: none" id="virtual_number_para">
    Virtual Number: <span id="virtual_number"></span>
  </p>
  <p style="text-align: left; display: none" id="account_id_para">
    Account ID : <span id="account_id"></span>
  </p>

  <a class="pointer" id="nav_delete" onclick="deleteProfile();"><span id="delete">Delete My Profile</span></a>

</div>